.app {
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.header__text {
  margin: 0;
  padding: 0;
}

.footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer__text {
  color: gray;
}
