body {
  background-color: #202020;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
